header{
    background-color: #51025a;
    color: white;
}

body{
    background-color: rgb(255, 166, 0);
}
/*Define margem e preenchimento com zero para todos os elementos*/
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #FFFACD; /*Define a cor de fundo */
    color: white; /* Define a cor do texto com branco */
    display: flex; /* Usa um layout flexível */
    justify-content: space-around; /* Distribui o espaço ao redor dos elementos filhos */
    align-items: center; /* Alinha os elementos filhos */
    padding: 24px 0; /* Preenchimento superior e inferior como 24px e 0 nas laterais */

.cabecalho-imagem{
    width: 20%; /* Define a largura como 20% do elemento pai */
}

.cabecalho-lista-item{
    display: inline-block; /* Exibe os elementos em linha, alinha horizontalmente */
    margin: 0 16px; /* Define margem nas laterais de 16px e nenhum preenchimento */
    font-size: 24px; /* Define tamanho da fonte*/

}
}